{%extends "layout.html"%}
{%block content%}
<div class="about">
    <h1 style="font-family:Georgia; font-size:150%; text-align:left; ">Introduction about the developer of this website</h1>
    <p><H3 style="font-family:Georgia; font-size:120%; text-align:left; font-color:black"><em>Hello evryone, my name is Aparajita, student of Master's of Computer Applicatins(Final year). This is my first live website and I am feeling very glad after making it. I have made this website for getting the stock exchanges data charts supported by Google finance, and I tried to represent it in the form of chart. My website is useful for those who are interested in stock market and who invests in stock market</em></H3></p>
</div>
{%endblock%}
